@import 'var';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    img {
    }
    p {
        margin-bottom: 0;
    }
    button {
        background: none;
        border: none;
        &:hover{
            font-weight: 900;
            transition: .2s all;
        }
    }
    .Btn {
        border-radius: 24px;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.6;
        padding: 0.725rem 2.76rem;
        text-align: center;
    }
    .article {
        font-size: 2.5rem;
        line-height: 1.4;
        font-weight: bold;
        margin-top: -11px;
    }
    .p {
        color: $text;
        font-size: 1.125rem;
        line-height: 1.6;
    }
    .fix-padding {
       padding: 0;
    }
    .padding-1920{
        padding-left: 390px;
        padding-right: 390px;
    }
}
